.App {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.App-logo {
  /* height: 40vmin; */
  pointer-events: none;
  margin: 6%;
  background-image: url("Assets/lambdalogo.jpg");
  width: 50px;
  height: 50px;
  

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #700606;
  min-height: 25vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  /* padding: 3%; */
}

.App-link {
  color: #61dafb;
}

.nav-links {
  display: flex;
  width: 40%;
  justify-self: flex-end;
  justify-content: flex-end;
  align-self: flex-end;

}

.nav-links a {
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-cont {
  background-image: url("Assets/Pizza.jpg");
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

